.div {
  border: 1px solid #ccc;
  width: 400px;
  height: 400px;

  background: url('@{image-path-1}1.jpg') no-repeat 0 0;
}

.div2 {
  width: 400px;
  height: 400px;
  background: url('@{image-path-2}5.jpg') no-repeat 0 0;
}